@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'SF Pro Rounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;


}

h3{
  color:#FA2D48;
}

.collection-wrapper {
  padding-left: 10%;
  padding-right: 10%;
}

.collection-list { 
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px; /* Adjust spacing between items */
  justify-items: center; /* Center items horizontally */
}

.collection-item {
  text-align: center; /* Align content inside the grid item */
}

.collection-image {
  display: block;
  width: 100%; /* Ensures it adapts to the grid item */
  height: 200px; /* Fixed height for uniformity */
  overflow: hidden; /* Ensures content outside the bounds is hidden */
}

.collection-image img {
  display: block;
  width: 100%; /* Fill the container's width */
  height: 100%; /* Fill the container's height */
  object-fit: cover; /* Ensures the image fits well within the container */
  border-radius: 5px; /* Optional: adds rounded corners */
}

.collection-info{
text-align: left;
}
.collection-header{
padding-left: 20px;
padding-right: 20px;
padding-top: 5%;
padding-bottom: 2%;
}

.header-title{
  font-size: x-large;
}

.album-info{
  padding-bottom: 20px;
}
.album-info h1{
  font-size: 1.5em;
  font-weight: bold;
}
.album-info h2{
  font-size: 1.5em;
  color:#FA2D48;
}
.song-title{
  color: white;
}
.song{
    display: flex;
    width: max-content;
    padding: 15px
}
.album-info {
  display: flex;
  gap: 50px;
  align-items: center;
}

.info h1{
  font-size: 3.0em;
  font-weight: bold;
}
.info h2{
  font-size: 2.0em;
  text-transform: uppercase;
}

ul li:nth-child(odd){
  background-color: #dedede12;
  border-radius: 2px;
  width: 100%;
}
ul li:nth-child(even){
  /* background-color: #dedede2d; */
  border-radius: 2px;
  width: 100%;
}
.song-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
  /* padding-right: 10px; */

}

.details-page{
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
}
.cover img{
  border-radius: 10px;
}
.album-footer{
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  font-size: small;
  font-weight: bold;
  font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.genre-info{
  font-weight:bold;
  font-size: small;
}
.misc-info{
  font-size: small;
  font-weight: normal;
  margin-top: auto;
  text-align: end;
  white-space: nowrap;
  margin-left: auto;
}

.images-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 equal-width columns */
  gap: 16px; /* Adjusts the space between grid items */
}

.images-grid img {
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  object-fit: cover; /* Ensures images fill their container without distortion */
}

.videos-grid {
  display: flex ;
  gap: 15px;
  overflow: scroll;
}

.video-button img{
  max-width: 300px;
}

.videos h1{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2em;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/whatstheprice/public/fonts/SF-Pro-Rounded-Regular.otf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}